.single-peer
  width 100%
  text-align center
  flex-shrink 0

  ._video-container
    margin-top 10px
    text-align left
    position relative
    display inline-block
    width 100%

  ._remoteVideo
    width 800px
    height 450px
    background-color #eee
    display inline-block
  ._localVideo
    position absolute
    left 10px
    top 10px
    width 100px
    height 75px
    background-color #eee
    display inline-block
  ._stop-button
    position absolute
    right 10px
    top 10px

    span
      color #7eb530

  .-off
    display none
